.about {
	@include clearfix;
	margin-bottom: 30px;
	padding: 0 55px 0 70px;
	height: 375px;
	font-size: 16px;

	&__avatar {
		@include left;
		width: 256px;
		img {
			display: block;
		}
	}

	&__text {
		@include right;
		width: 541px;
		color:$color-text-hover;

		p {
			margin: 0;
			margin-bottom: 22px;
			line-height: 1.1;
		}
	}
	
	@include tablet {
		padding: 0;
		font-size: 16px;

		&__text {
			width: calc(100% - 276px);
			p {
				margin-bottom: 18px;
				line-height: 1;
			}
		}
	}

	@include tablet-mini {
		padding: 0;
		font-size: 14px;

		&__text {
			width: calc(100% - 276px);
			p {
				margin-bottom: 16px;
				line-height: 1;
			}
		}
	}

	@include mobile {
		padding: 0;
		font-size: 14px;
		height: auto;
		&__avatar {
			float: none;
			margin: 0 auto 16px;

		}
		&__text {
			float: none;
			width: 100%;
			p {
				margin-bottom: 16px;
				line-height: 1;
			}
		}
	}
}