@include font-face("Antique", "../font/a_antiquetitulgr_allfont.ru-webfont", normal, normal);
// @include font-face("Kurale", "../font/dkurale-regular-webfont", normal, normal);

html, 
body {
	position: relative;
	margin: 0;
  	padding: 0;
  	min-width: 320px;
  	font-family: 'Kurale', 'Georgia', 'Times New Roman', 'Times', serif;
  	font-size: $font-size;
  	line-height: 1.1;
  	color: $color-text-hover;
  	background-color: $bg-color;
}

.wrapper {
	margin: 0 auto;
	width: 960px;
}