.main-menu {
	position: relative;
	margin: 0 auto;
	width: 490px;

	&__list {
		margin: 0;
		padding: 0;
		font-size: 0;
		list-style: none;
		text-align: center;
	}

	&__item {
		// font-family: 'Antique', Arial, sans-serif;
		font-family: 'Lora', 'Georgia', 'Times New Roman', 'Times', serif;
		font-size: $font-size;
		margin-right: 25px;
		display: inline-block;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;

		&:last-child {
			margin-right: 0;
		}
	}
	
	&__link {
		color: $color-text;
		text-decoration: none;

		&:hover,
		&:active,
		&--active  {
			color: $color-text-hover;
		}
	}

	@include mobile {
		width: 100%;

		&__btn-menu {
			padding-left: 30px;
			display: block;
			font-size: 14px;
		}

		&__list {
			width: 100%;
		}
	}
}