.review {
	
	&__item {
		@include clearfix;
		padding: 35px 0;
		// border-top: 1px solid #D3D3D3;

		// &:last-child {
		// 	border-top: 1px solid #cfcfcf;
		// }

		&:first-of-type {
			margin-top: 35px;
			border-top: 1px solid #cfcfcf;
		}
	}

	&__photo {
		float: left;
		width: 28%;
		height: 268px;
		border-radius: 50%;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	
	&__title {
		margin: 0;
		font-family: 'Lora', 'Georgia', 'Times New Roman', 'Times', serif;
	}

	&__description {
		float: right;
		width: 70%;
	}
}