.shooting {
	padding-left: 70px;

	&__header {
		margin: 0;
		margin-bottom: 16px;
		font-family: 'Lora', 'Georgia', 'Times New Roman', 'Times', serif;
		font-size: $font-size;
		line-height: 1;
		font-weight: bold;
		text-transform: uppercase;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		position: relative;
		padding-left: 5px;
		margin-bottom: 18px;
		font-family: 'Lora', 'Georgia', 'Times New Roman', 'Times', serif;
		font-size: 14px;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: bold;

		&::before {
			content: '-';
			position: relative;
			top: 0;
			left: -5px;

		}
	}

	@include tablet {
		padding-left: 0;
	}

	@include tablet-mini {
		padding-left: 0;
		&__header {
			font-size: 15px;
		}
		&__item {
			font-size: 14px;
		}
	}

	@include mobile {
		padding-left: 0;
		&__header {
			font-size: 15px;
		}
		&__item {
			font-size: 14px;
		}
	}
}