.social {
	margin: 0 auto 10px;
	width: 180px;
	font-size: 0;
	text-align: center;

	&__btn {
		margin-right: 20px;
		margin-bottom: 5px;
		font-size: 16px;
		display: inline-block;
		width: 36px;
		height: 36px;
		text-indent: 100%;
		white-space: nowrap;
		vertical-align: top;
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;

		&:nth-child(3n) {
			margin-right: 0;
		}

		&--vk {
			background-image: url('../img/icon-vk.png');
		}

		&--fb {
			background-image: url('../img/icon-fb.png');
		}

		&--inst {
			background-image: url('../img/icon-inst.png');
		}
	}
}