$bg-color: #fff;
$bg-footer: #fefefe;

$color-text: #747373;
$color-text-hover: #464545;

$font-family: "PT Sans", Arial, sans-serif;

$font-size: 16px;
$font-size-nav: 12px; 

$tablet-width: 640px; 
$desktop-width: 960px; 